.footer {
@import url('theme.css');
  background: #fff;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: auto; /* sticky in fondo */
}

.footer-col h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.footer p {
  font-size: 0.9rem;
  color: #353945;
}

.footer-bottom {
  grid-column: span 3;
  text-align: center;
  font-size: 0.8rem;
  color: #95a0ba;
  margin-top: 1rem;
}
